# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Own-Occlusion-Culling-Using-Job-System.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../:\Own-Occlusion-Culling-Using-Job-System\.idea\.idea.Own-Occlusion-Culling-Using-Job-System\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
